<div class="fave-page">

  <div class="user-faves">
    <% @current_user.artworks.each do |art| %>
        <div class="a-favorite" id="<%= art.image_id %>">
            <div class="art">
            <img src='<%= art.image_url %>'/>
                <div class="x" id="<%= art.image_id %>">
                    <img src='/assets/x.png'/>
                </div> <!-- x -->
                    <span id="title"><a href="<%= art.museum_page_url %>" target="_blank"><%= art.title %></a></span></br>
                    <span id="artist"><%= art.artist.name %></span></br>
                    <span class="other"><%= art.date %></span></br>
                    <span class="other"><%= art.medium %></span></br>
                    <span class="other"><%= art.collection %></span></br>
            </div> <!-- art -->
        </div>
    <% end %>
  </div>


</div> <!-- user-favs -->


<!-- <h1><%= @current_user.artworks[0].title %></h1>

    <% @current_user.artworks.each do |art| %>
    <%= art.title %></br>
    <%= art.date %></br>
    <%= art.medium %></br>
    <%= art.collection %></br>
    <%= art.museum_page_url %></br>
    <% end %>
 -->
