<div class="fave-page">
<%= @current_user.artworks %>
  <div class="user-faves">
    <% @current_user.artworks.each do |art| %>
        <div class="a-favorite" id="<%= art.image_id %>">
            <div class="art">
            <img src='<%= art.image_url %>'/>
                <div class="x">
                    <img src='/assets/x.png'/>
                </div> <!-- x -->
            </div> <!-- art -->
            <p>T<span>itle</span></p><a href='<%= art.museum_page_url %>'><%= art.title %></a></br>
            <p>A<span>rtist</span></p><%= art.artist %></br>
            <p>D<span>ate</span></p><%= art.date %></br>
            <p>M<span>edium</span></p><%= art.medium %></br>
            <p>C<span>ollection</span></p><%= art.collection %></br>
        </div>
    <% end %>
  </div>


</div> <!-- user-favs -->


<!-- <h1><%= @current_user.artworks[0].title %></h1>

    <% @current_user.artworks.each do |art| %>
    <%= art.title %></br>
    <%= art.date %></br>
    <%= art.medium %></br>
    <%= art.collection %></br>
    <%= art.museum_page_url %></br>
    <% end %>
 -->
