<!DOCTYPE html>
<html>
<head>
  <title>AwesomeArt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-strip">
</div><!--.top-strip-->
<div class="awesomeness">
  <div id="credit">
    <h1><a href="https://generalassemb.ly/education/web-development-immersive" target="_blank">WDI6</a></h1>
    <h2 id="toolkit">TOOLKIT</h2>
    <h3>HTML5</h3>
    <h3>CSS3</h3>
    <h3>Javascript</h3>
    <h3>jQuery</h3>
    <h3>Ruby on Rails</h3>
    <h3>SQL</h3>
  </div>
  <div class="td">
    <img src="/assets/tricia1.png"/>
    <h2>TRICIA DOUGLAS (@SEAMLESSTL)</h2>
    <h3>Front-end web developer with a UX obsession</h3>
  </div>
  <div class="mv">
      <img src="/assets/mike1.png"/>
    <h2>MIKE VANGER (@MVANGER)</h2>
    <h3>Back-end web developer & baseball enthusiast</h3>
  </div>
</div><!--.awesomeness-->
 <nav class="sign-in-up">
    <% if current_user %>
    <%= render 'navbar2' %>
    <% else %>
    <%= render 'navbar' %>
    <% end %>
 </nav>




<%= yield %>

</body>
</html>






