<!DOCTYPE html>
<html>
<head>
  <title>AwesomeArt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

  <nav class="sign-in-up">

    <% if current_user %>
    <%= render 'navbar2' %>
    <% else %>
    <%= render 'navbar' %>
    <% end %>

  </nav>



<%= yield %>

</div> <!-- container -->
</body>
</html>






